---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/AboutMe.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Experience from "@/components/Experience.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import TitleSection from "@/components/TitleSection.astro";
<<<<<<< HEAD

import GitHub from "@/components/icons/GitHub.astro";
import NextJS from "@/components/icons/NextJS.astro";
import Tailwind from "@/components/icons/Tailwind.astro";
import Link from "@/components/icons/Link.astro";
import LinkButton from "@/components/LinkButton.astro";
import Express from "@/components/icons/Express.astro";
import Ejs from "@/components/icons/Ejs.astro";
interface TagObj {
  name: string;
  class: string;
  icon: (_props: Record<string, any>) => any;
}

const TAGS: Record<string, TagObj> = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  EXPRESS: {
    name: "Express",
    class: "bg-[#003159] text-white",
    icon: Express,
  },
  EJS: {
    name: "EJS",
    class: "bg-[#003159] text-white",
    icon: Ejs,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#F7DF1E] text-black",
    icon: CodeIcon,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-[#3178C6] text-white",
    icon: CodeIcon,
  },
  PYTHON: {
    name: "Python",
    class: "bg-[#3776AB] text-white",
    icon: CodeIcon,
  },
  HTML: {
    name: "HTML",
    class: "bg-[#E34F26] text-white",
    icon: CodeIcon,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#1572B6] text-white",
    icon: CodeIcon,
  },
};

const HARDCODED_PROJECTS = [
  {
    title: "HardSub Extractor",
    description:
      "Aplicacion de escritorio para la extraccion de HardSubs en videos mediante el uso de redes neuronales para deteccion y ocr en tiempo real.",
    github: "https://github.com/yoshi70001/HardSubExtractor",
    image: "/projects/harsubextractor.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Animeflv Wrapper",
    description:
      "Animeflv Wrapper es una pagina web que permite ver anime en español latino. Esta construida con Express y EJS, y utiliza scrapping de la pagina Animeflv para obtener los episodios y la información del anime.",
    link: "https://jespinoza.mooo.com/anime/",
    github: "https://github.com/yoshi70001/animeflvWrapper",
    image: "/projects/animeflvWrapper.webp",
    tags: [TAGS.EXPRESS, TAGS.EJS],
  },
  {
    title: "ScreenShot Site",
    description:
      "Screenshot Site genera capturas de pantalla de sitios web al instante. Ingresa una URL y descarga una imagen lista para compartir. Rápido, simple e ideal para profesionales.",
    link: "https://jespinoza.mooo.com/screenshot/",
    github: "https://github.com/yoshi70001/screenshot-site",
    image: "/projects/screenShot.webp",
    tags: [TAGS.EXPRESS, TAGS.EJS],
  },
];

const response = await fetch("https://api.github.com/users/yoshi70001/repos");
const githubProjects = await response.json();
interface Repo {
  fork: boolean;
  language: string;
  name: string;
  description: string;
  html_url: string;
  homepage: String | undefined;
}
const mappedGithubProjects = githubProjects
  .filter((repo: Repo) => !repo.fork)
  .map((repo: Repo) => {
    const languageTag =
      repo.language && TAGS[repo.language.toUpperCase()]
        ? TAGS[repo.language.toUpperCase()]
        : {
            name: repo.language || "Other",
            class: "bg-neutral-700 text-white",
            icon: CodeIcon,
          };

    return {
      title: repo.name,
      description: repo.description || "No description provided.",
      github: repo.html_url,
      link: repo.homepage || undefined,
      image: "/projects/github-placeholder.webp", // Placeholder image
      tags: [languageTag],
    };
  });

const ALL_PROJECTS = [...HARDCODED_PROJECTS, ...mappedGithubProjects];
=======
>>>>>>> 8e906a05ddc67c70c66ce50334bb1f84f2947ff8
---

<Layout
  title="Porfolio de Jorge - Desarrollador y Programador Oracle Netsuite con 4 años de experiencia"
  description="Contrata a Jorge para crear tu aplicación web o Netsuite"
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
  </main>
  <div class="space-y-24">
    <SectionContainer id="experiencia">
      <TitleSection>
        <Briefcase class="size-8" />
        Experiencia laboral
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <TitleSection>
        <CodeIcon class="size-7" />
        Proyectos
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Sobre mí
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
</Layout>
