---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  // {
  //   date: "Actualmente...",
  //   title: "Creador de Contenido",
  //   company: "Twitch",
  //   description:
  //     "Divulgo sobre programación y desarrollo web en diferentes plataformas. Galardonado como mejor creador de contenido de habla no-inglesa en 2022 y mejor comunidad en 2023 por GitHub.",
  //   link: "https://twitch.tv/Jorge",
  // },
  {
    date: "Marzo 2025",
    title: "Oracle Netsuite Developer",
    company: "2Win",
    description:
      "Desarrollé integraciones con sistemas de salud mediante Hl7, así como simuladores para las pruebas.",
  },
  {
    date: "Julio 2023",
    title: "Oracle Netsuite Integrator - DevOps",
    company: "LatamReady",
    description:
      "Desarrollé e implementé conexiones ws estándar para AGIP, ARBA y AFIP, incluyendo consultas y emisiones. Promoví la aplicación de buenas prácticas en la codificación y estructuración del código. También fomenté el uso de nuevas tecnologías en el ecosistema NetSuite.",
  },
  {
    date: "Julio 2021",
    title: "Oracle Netsuite Developer",
    company: "LatamReady",
    description:
      "Desarrollé e implementé conexiones ws estándar para AGIP, ARBA y AFIP, incluyendo consultas y emisiones. Promoví la aplicación de buenas prácticas en la codificación y estructuración del código. También fomenté el uso de nuevas tecnologías en el ecosistema NetSuite.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
